.clock {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.26);
    margin-top: 2rem;
    padding: 2rem;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #9A002F;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    .inner {
        background-color: #222;
        margin-right: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        color: #FFF;
        margin-right: auto;
        margin-left: auto;
        font-size: 3rem;
        border-bottom-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    span {
        font-size: 4rem;
    }
    &>div {}
    .clock__panel {
        display: flex;
        justify-content: center;
    }
    .clock__panel--plus-minus {
        flex-direction: column;
        justify-content: center;
        button {
            font-size: 2rem;
            background-color: transparent;
            color: white;
            border-color: transparent;
            &:focus {
                color: #9A002F;
            }
        }
    }
    .clock__panel--main {
        flex-wrap: wrap;
        width: 100%;
        padding: 2rem;
        button {
            display: inline-block;
            font-weight: 400;
            line-height: 1.25;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            user-select: none;
            border: 1px solid transparent;
            padding: .5rem 1rem;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 20px;
            transition: all .2s ease-in-out;
            margin: .5rem;
            box-shadow: 2px 3px 5px 0px rgba(120, 119, 120, 1);
            font-size: 1.5rem;
            &:focus {
                outline-color: #9A002F;
                color: #9A002F;
            }
            &:active {
                transform: translateY(1px);
            }
        }
    }
}